.home-bg {

  background: var(--pink);
  width: 100%;
  height: 80vh;
}

.home-container {

  padding: 2.8rem 0;
}

.header-home {

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 11.9rem;
}

.ul-home {

  display: flex;
  gap: 5rem;
}

.conteudo-home {

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conteudo-text {

  max-width: 444px;
}

.h1-conteudo {

  margin-bottom: 2.4rem;
}

.p-conteudo {

  margin-bottom: 4rem;
}




@media (max-width:1000px) {

  .img-conteudo {

    width: 400px;
    height: 100%;
  }
}

@media (max-width:700px) {
  .conteudo-home {

    justify-content: center;
    text-align: center;
  }
  .img-conteudo {

   display: none;
  }
}